//---------------------------------------------------------------------------
//
// Name:        Proyecto1App.rc
// Author:      @jesusmanu5
// Created:     13/05/2017 20:04:37
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
